@import '../../node_modules/antd/dist/antd.css';
@import './main.css';

* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

#root {
  min-height: 100vh;
}

._center {
  display: flex;
  align-items: center;
  justify-content: center;
}
._center-x {
  display: flex;
  justify-content: center;
}
._center-y {
  display: flex;
  align-items: center;
}
